<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/x-android-package-archive" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/x-android-package-archive" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:label="@string/matchmaker_login" />

        <receiver
            android:name=".UpdateInstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.voidstrap.android.UPDATE_STATUS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
